.wrapper.flex.col
  .identity.white-bg.personal.flex.j-center.center.col.around
    %h1.black Sun-Li Beatteay
    %h2.black Backend Engineer
    %h3.black @ <a class="black" href="https://www.digitalocean.com">DigitalOcean</a>
    %ul.flex.row.around.full-width
      %li.black
        %p.black LinkedIn
      %li.black
        %p.black GitHub
      %li.black
        %p.black Medium
  .quadrant.black-bg.about.flex.j-center.center
    %a{ href: about_path, class: 'flex fill text-center j-center center' }
      %span About
  .quadrant.blue-bg.blog.flex.j-center.center
    %a{ href: blog_path, class: 'flex fill text-center j-center center' }
      %span Blog
  .quadrant.red-bg.projects.flex.j-center.center
    %a{ href: projects_path, class: 'flex fill text-center j-center center' }
      %span Projects
  .quadrant.green-bg.presentations.flex.j-center.center
    %a{ href: presentations_path, class: 'flex fill text-center j-center center' }
      %span Presentations
